PORT=8081
JWT_SECRET= Your-JWT_SECRET
DB_HOST=localhost
DB_USER=root
DB_PASS=
DB_NAME=football_system

# Cấu hình Email (Sử dụng App Password nếu dùng Gmail)
EMAIL_USER=your-gmail@gmail.com
EMAIL_PASS=matkhauungdung16kytu